## Settings file was created by plugin ImmersiveVisor v1.0.0
## Plugin GUID: ImmersiveVisor

[Repair]

## Visor gets repaired on a new day. Meaning, when the ship takes off.
# Setting type: Boolean
# Default value: true
RepairOnNewDay = true

## Visor gets repaired after dying. Option's here but I recommend not setting this to False.
# Setting type: Boolean
# Default value: true
RepairOnDeath = true

## Visor gets repaired after a quota gets fulfilled.
# Setting type: Boolean
# Default value: true
RepairOnQuotaFulfilled = true

[Visual]

## Use alternative vertical crack effect instead of circular crack
# Setting type: Boolean
# Default value: true
UseAlternateCrack = true

## Choose random between circular and vertical cracks. This overrides UseAlternateCrack option.
# Setting type: Boolean
# Default value: false
UseRandomCrack = false

